 .fild__box{
    display: grid;
    gap: 10px;
    grid-template-columns: 10fr 1fr;
 }
 .fild{
  width: 100%;
  border: 1px solid #c9b5b575;
  border-radius: 15px;
  margin: 10px 0;
  height: 50px;
  resize: none;
  font-size: 18px;
 }
 .fild:focus-visible{
  border: 1px solid #c9b5b575;
  outline: none;
 }
 .button{
    margin: 10px;
    border-radius: 15px;
    font-size: 30px;
    background: transparent;
    border: 1px solid #1466665e;
    color: #146666;
 }