.nav {
  grid-area: n;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: linear-gradient(to left, transparent, #31d0cc, #75e7e4);
  border-radius: 15px 0 0 15px;
  padding: 20px 0;
  max-height: 220px;
}
.link {
  display: block;
  text-transform: uppercase;
  padding: 3px 15px;
  font-weight: 800;
  color: #146666;
  text-shadow: 2px 3px 6px #cccccc;
}
.active {
  color: #e4e2e2;
  text-shadow: 2px -1px 9px black;
}
.nav a:hover {
  color: #cccccc;
  text-shadow: 2px -1px 9px black;
}
