@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300;600&display=swap');
 
body{
font-family: 'Unbounded',  serif;
}


ul li{
  list-style-type: georgian;
}
a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.829);
}
.app-wrapper{
  width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  "h h h"
  "n c c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  gap: 20px;
}
.app-wrapper-content{
  grid-area: c;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
